body{
    background: radial-gradient(#111, #111, #111)
  }
  
  .card{
    width:20rem;
    height:35rem;
  }
  
  .card:hover{
    box-shadow: 5px 10px 20px 1px rgb(26,188,156)!important;
  }
  
  .card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
  }
  .card-body{padding: 3rem 0!important;}
  
  .container-fluid{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .anchor {
    padding-top: 3rem; 
  }

  .overflow{
    overflow: hidden;
  }

  .card-img-top{
    transform: scale(1);
    transition: transform 1s ease-in-out;
  }

  .card-img-top:hover{
    transform: scale(1.8);
  }

  
